/* Selector + { propiedad : valor ; ... } */

body {
    background-color: #161719;
}

p, h4, h5 {
    color: white;
}

.barra_navegacion {
    border: white solid 2px;
    text-align: center;
}

.contenido p, h5 {
    color: aqua;
    font-style: italic;
}

.pie_pagina {
    border: white solid 2px;
    text-align: center;
}

.pie_pagina p {
    padding: 0;
    margin: 0;
}